.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
}
body{
  margin: 0;
  padding: 0;
}

.inputs{
  height: 400px;
  width: 100%;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputs input{
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
}

.inputs button{
  border: none;
  width: 150px;
  height: 50px;
  background-color: chartreuse;
  color: white;
  border-radius: 8px;
  font-size: 15px;
}

.inputs button:hover{
  cursor: pointer;
}